################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FSL.AngularJsLazyLoadingScripts/.vs
/FSL.AngularJsLazyLoadingScripts/obj/Debug
/FSL.AngularJsLazyLoadingScripts/packages
*.user
/.vs/FSL.AngularJsLazyLoadingScripts/v14
/.vs/config
