<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.UI-Router" version="0.3.1" targetFramework="net461" />
  <package id="AngularJS.Core" version="1.5.9" targetFramework="net461" />
  <package id="AngularJS.Sanitize" version="1.5.9" targetFramework="net461" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="6.5.5" targetFramework="net461" />
  <package id="angular-ui-router.TypeScript.DefinitelyTyped" version="1.4.8" targetFramework="net461" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net461" />
  <package id="oclazyload.TypeScript.DefinitelyTyped" version="0.0.7" targetFramework="net461" />
</packages>